<div class="row justify-content-center mt-5">
    <div class="col">
        <a href="/stories" type="button" data-toggle="tooltip" title="Go Back" class="btn  btn-md text-white " style="background: #2F89FC;"> <i class="fa fa-2x fa-arrow-left " style="color: white;"></i></a>
    </div>
</div>

<div class="container-fluid text-center mt-2">
    <h1>
        <%- story.tittle%>
    </h1>
    <%- story.body %>
</div>