<h1>
    <div class="container z-depth-1 my-5 py-5 px-4 px-lg-0">

        <!-- Section -->
        <section>

            <style>
                .timeline {
                    position: relative;
                    list-style: none;
                    padding: 1rem 0;
                    margin: 0;
                }
                
                .timeline::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 0;
                    bottom: 0;
                    width: 2px;
                    margin-left: -1px;
                    background-color: #50a1ff;
                }
                
                .timeline-element {
                    position: relative;
                    width: 50%;
                    padding: 1rem 0;
                    padding-right: 2.5rem;
                    text-align: right;
                }
                
                .timeline-element::before {
                    content: '';
                    position: absolute;
                    right: -8px;
                    top: 1.35rem;
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    border: 2px solid #50a1ff;
                    background-color: #fff;
                }
                
                .timeline-element:nth-child(even)::before {
                    right: auto;
                    left: -8px;
                }
                
                .timeline-element:nth-child(even) {
                    margin-left: 50%;
                    padding-left: 2.5rem;
                    padding-right: 0;
                    text-align: left;
                }
                
                @media (max-width: 767.98px) {
                    .timeline::before {
                        left: 8px;
                    }
                }
                
                @media (max-width: 767.98px) {
                    .timeline-element {
                        width: 100%;
                        text-align: left;
                        padding-left: 2.5rem;
                        padding-right: 0;
                    }
                }
                
                @media (max-width: 767.98px) {
                    .timeline-element::before {
                        top: 1.25rem;
                        left: 1px;
                    }
                }
                
                @media (max-width: 767.98px) {
                    .timeline-element:nth-child(even) {
                        margin-left: 0rem;
                    }
                }
                
                @media (max-width: 767.98px) {
                    .timeline-element {
                        width: 100%;
                        text-align: left;
                        padding-left: 2.5rem;
                        padding-right: 0;
                    }
                }
                
                @media (max-width: 767.98px) {
                    .timeline-element:nth-child(even)::before {
                        left: 1px;
                    }
                }
                
                @media (max-width: 767.98px) {
                    .timeline-element::before {
                        top: 1.25rem;
                    }
                }
                
                p {
                    font-size: 1rem;
                }
            </style>

            <h3 class="font-weight-bold text-center dark-grey-text pb-2">Story Books </h3>
            <hr class="w-header my-4">
            <p class="lead text-center text-muted pt-2 mb-5">Story Books founded to share your stories the way you want to the world !!...</p>

            <div class="row">
                <div class="col-lg-8 mx-auto">

                    <ol class="timeline">
                        <li class="timeline-element">
                            <h5 class="font-weight-bold dark-grey-text mb-3">Version 1.0 Launched </h5>
                            <p class="grey-text font-small"><time datetime="2017-02-08">26 July 2020</time></p>
                            <p class="text-muted">With the aim to share ones strories to the world here comes the version 1.0 of Story Books.</p>
                        </li>

                        <li class="timeline-element">
                            <h5 class="font-weight-bold dark-grey-text mb-3">Step 1 </h5>
                            <p class="text-muted">Create an Account with Story Books either by simply using your google account in just a second or make one for yourself by adding your details like name,email,password.</p>
                        </li>

                        <li class="timeline-element">
                            <h5 class="font-weight-bold dark-grey-text mb-3">Step 2 </h5>
                            <p class="text-muted">After Signing Up you will redirected to the home page and have an access to your dashboard , add stories and view all the public stories</p>
                        </li>

                        <li class="timeline-element">
                            <h5 class="font-weight-bold dark-grey-text mb-3">Step 3</h5>
                            <p class="text-muted">Now why are you waiting for ? Add your own story and share it to the whole world </p>
                        </li>
                        <li class="timeline-element">
                            <h5 class="font-weight-bold dark-grey-text mb-3">Step 4</h5>
                            <p class="text-muted">If you want to delete or edit your story yes you can using delete or edit option </p>
                        </li>
                        <li class="timeline-element">
                            <h5 class="font-weight-bold dark-grey-text mb-3">Step 5</h5>
                            <p class="text-muted">Finally dont forget to share with others and there is much more to come ... </p>
                        </li>
                    </ol>

                </div>
            </div>

        </section>
        <!-- Section -->

    </div>
</h1>