<h1 style="font-weight: 700;" class="text-center mt-lg-5 mt-2"> STORYBOOKS</h1>
<div class="container mt-5 right-panel-active" id="container">
    <div class="form-container sign-in-container">
        <form action="/login" method="POST">
            <h1 class="font-weight-bold">Sign in</h1>
            <div class="row">
                <input type="email" placeholder="Email" name="email" />

            </div>
            <div class="row">
                <input type="password" placeholder="Password" name="password" />


            </div>
            <button class="btn btn-info btn-rounded " onclick="javascript: form.action='/login'; console.log('submittred')">Sign In</button>

            <div id="or">OR</div>
            <a href="/auth/google">
                <button type="button" class="btn text-white" style="background: #DD4B39;"><i class="fab fa-google-plus-g pr-1"></i> Sign in with Google</button>
            </a>
        </form>
    </div>
    <div class="form-container sign-up-container mt-2">
        <form action="/register" method="POST">
            <h1 class="font-weight-bold">Create Account</h1>
            <%- include("partials/message") %>
                <input type="text" placeholder="Name" name="name" />
                <input type="email" placeholder="Email" name="email" />
                <input type="password" placeholder="Password" name="password" />
                <button class="btn btn-info btn-rounded" onclick="javascript: form.action='/register'; console.log('submittred')">Sign up</button>
                <div id="or">OR</div>
                <a href="/auth/google">
                    <button type="button" class="btn text-white" style="background: #DD4B39;"><i class="fab fa-google-plus-g pr-1"></i> Sign up with Google</button>
                </a>
        </form>
    </div>


    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1 class="font-weight-bold">Good to see you!
                    <h1>
                        <p>You already have an account? <br>Sign in!</p>
                        <button class="but" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1 class="font-weight-bold">Hello, Friend!</h1>
                <p>You don't have account yet? Don't worry! You still can join us</p>
                <button class="but" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>